* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	--main-color: #8b4beb;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.post {
	margin: 0px auto 25px auto;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5em;
}

.post-header_left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.post-profilepic {
	border-radius: 50%;
	margin-right: 10px;
	width: 35px;
	height: 35px;
}

.post-author {
	font-weight: 600;
}

.post-time {
	font-size: 0.8em;
	color: #555;
}

.post-text {
	margin-bottom: 1.5em;
}

.post-picture {
	margin-bottom: 1.5em;
}

.post-picture img {
	max-width: 100%;
	border-radius: 10px;
}

.post-likes {
	cursor: pointer;
	border-radius: 10px;
	padding: 10px;
	user-select: none;
}

.post-likes.liked {
	background-color: var(--main-color);
	color: white;
}

.post-thumb {
	margin-right: 5px;
}

.post-menu {
	position: relative;
	cursor: pointer;
}

.post-popup {
	position: absolute;
	top: 30px;
	right: 0;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
	padding: 10px;
}

.post-popup.hidden {
	display: none;
}

.center500px {
	max-width: 500px;
	margin: 30px auto;
}

.header {
	padding: 20px;
	background-color: var(--main-color);
	color: white;
}

.header h1 {
	font-size: 20px;
}

.createpost-row {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.createpost-row:last-child {
	margin-bottom: 0px;
}

.createpost-row input[type="text"] {
	flex: 1;
	font-size: 16px;
	padding: 10px;
	border-radius: 8px;
	border: 0px;
	background-color: #eee;
	margin-left: 10px;
}

.createpost-row input[type="text"]:focus {
	outline: none;
}

.btn {
	width: 100%;
	font-size: 16px;
	padding: 10px;
	border-radius: 8px;
	border: 0px;
	background-color: var(--main-color);
	color: white;
	cursor: pointer;
}
.btn:hover {
	opacity: 0.8;
}
.btn:active {
	opacity: 0.5;
}
.btn:focus {
	outline: none;
}
